html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
  height: 50px;
  width: 100%;
  padding: 20px auto;
  background-color: lavender;
  border: 0px;
  box-shadow: #888 2px 2px 2px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
}

#app-path {
  width: 100vw;
  height: 150vh;
  margin: auto;
  background-color: rgb(247, 245, 245);
}

#header {
  background-color: rgb(27, 27, 83);
  text-align: center;
  color: white;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 65px;
  padding: 20px;
}

#info-section {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 65px;
}

#info-section h1 {
  text-align: center;
  font-size: 1.2rem;
}

#info-section h4 {
  text-align: center;
  font-weight: 300;
  margin: 50px auto 0;
}

#details-section {
  margin: 30px 0;
  width: 100%;
}

#details-section h3 {
  font-size: 1rem;
  margin: 0 0 20px 0;
}

/* #details-section table {
  font-size: 1rem;
  width: 100%;
}

#details-section > table td{
  padding: 10px 10px 10px 10px;
  color: white;
  overflow-wrap: break-word;
}

#details-section > table td:nth-child(even){
  font-size: 0.5rem;
} */
#transaction-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  gap: 30px;
  border-radius: 8px;
  background-color: white;
  padding: 30px 10px;
}

#transaction-details p {
  font-size: 0.875rem;
  color: gray;
}

#gas-area {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

#gas-area input {
  padding: 5px;
  background-color: rgb(247, 245, 245);
  border-radius: 5px;
  width: 200px;
  border: 0px;
  cursor: text;
}

#gas-area a {
  font-size: 0.6rem;
  text-decoration: underline;
  margin-top: 5px;
}


#fail-connect {
  width: 200px; 
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

table tr:nth-child(odd) {
  background-color: gray;

}

table tr:nth-child(even) {
  background-color: rgb(75, 72, 72);
  
}

#cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 30%;
}

#cta > button {
  height: 50px;
  width: 100%;
  padding: 20px auto;
  background-color: lavender;
  border: 0px;
  box-shadow: rgb(233, 231, 231) 2px 2px 2px 2px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

#cta > button:nth-child(1) {
  background-color: rgb(160, 91, 91);
  color: white;
}

#cta > button:nth-child(2) {
  background-color: rgb(4, 65, 46);
  color: white;
}


#footer {
  position: fixed;
  
  bottom: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  color: white;
  background-color: rgb(24, 23, 23);
}

#footer > div {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

#toast {
  position: absolute;
  top: 20px;
  right: 5px;
  padding: 20px 10px;
  color: white;
  border-radius: 10px;

}

#toast p {
  font-size: 0.85rem;
}


@media screen and (min-width: 500px) {
  #app-path {
    width: 100%;
    min-height: 150vh;
    margin: auto;
  }

  #info-section {
    padding: 50px 50px;
  }

  #footer {
    
    width: 100%;
  
  }

  #details-section {
    width: 100%;
    margin: 80px auto;
  }

  #details-section h3 {
    text-align: center;
  }

  #details-section table {
    width: 100%;
  }

  #info-section h1 {
    text-align: center;
  }

  #cta  {
    gap: 50%;
  }

  #fail-connect {
    width: 400px;
  }
  
}

